In [4]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier

In [5]:
data = pd.read_csv("Data/fantasy.csv")
qb = pd.read_csv("Data/qb.csv")
rb = pd.read_csv("Data/rb.csv")
wr = pd.read_csv("Data/wr.csv")
te = pd.read_csv("Data/te.csv")

In [16]:
grouped_qb = qb.groupby("Value")
grouped_qb.count()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank,Season
Value,,,,,,,,,,,,,,,,,,,,,
QB1,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132
QB2,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132
QB3,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132
QB4,132,132,132,132,132,132,132,132,132,132,...,132,132,132,132,132,132,132,132,132,132
Waiver,279,279,279,279,279,279,279,279,279,279,...,279,279,279,279,279,279,279,279,279,279

Value
QB1       132
QB2       132
QB3       132
QB4       132
Waiver    279
Name: Value, dtype: int64