In [1]:
import pandas as pd
import numpy as np

In [19]:
# import pro-football-reference fantasy data
data = pd.read_csv("Data/data.txt")
data

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry *\HenrDe00,TEN,RB,26,16,16,0,0,0,...,17,1.0,NaN,314.0,333.1,341.1,323.6,184.0,1,1.0
1,2,Alvin Kamara *\KamaAl00,NOR,RB,25,15,10,0,0,0,...,21,NaN,NaN,295.0,377.8,383.8,336.3,165.0,2,2.0
2,3,Dalvin Cook*\CookDa01,MIN,RB,25,14,14,0,0,0,...,17,3.0,NaN,294.0,337.8,346.8,315.8,164.0,3,3.0
3,4,Davante Adams*\AdamDa01,GNB,WR,28,14,14,0,0,0,...,18,NaN,NaN,243.0,358.4,362.4,300.9,117.0,1,4.0
4,5,Travis Kelce*\KelcTr00,KAN,TE,31,15,15,1,2,4,...,11,1.0,NaN,208.0,312.8,316.8,260.3,117.0,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,622,Andre Roberts*\RobeAn00,BUF,WR,32,15,0,0,0,0,...,0,NaN,NaN,-1.0,3.1,5.1,1.1,NaN,243,NaN
622,623,Nate Sudfeld\SudfNa00,PHI,QB,27,1,0,5,12,32,...,0,NaN,NaN,-2.0,-1.5,0.5,-0.5,NaN,83,NaN
623,624,Nsimba Webster\WebsNs00,LAR,NaN,24,16,0,0,0,0,...,0,NaN,NaN,-2.0,-2.0,-1.0,-2.0,NaN,246,NaN
624,625,Dede Westbrook\WestDe00,JAX,WR,27,2,0,0,0,0,...,0,NaN,NaN,-2.0,-0.6,0.4,-1.1,NaN,245,NaN
625,626,Kendall Hinton\HintKe00,DEN,WR,23,1,0,1,9,13,...,0,NaN,NaN,-3.0,-2.8,-0.8,-0.8,NaN,247,NaN

In [20]:
# fill NaNs
data = data.fillna(0)
data.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry *\HenrDe00,TEN,RB,26,16,16,0,0,0,...,17,1.0,0.0,314.0,333.1,341.1,323.6,184.0,1,1.0
1,2,Alvin Kamara *\KamaAl00,NOR,RB,25,15,10,0,0,0,...,21,0.0,0.0,295.0,377.8,383.8,336.3,165.0,2,2.0
2,3,Dalvin Cook*\CookDa01,MIN,RB,25,14,14,0,0,0,...,17,3.0,0.0,294.0,337.8,346.8,315.8,164.0,3,3.0
3,4,Davante Adams*\AdamDa01,GNB,WR,28,14,14,0,0,0,...,18,0.0,0.0,243.0,358.4,362.4,300.9,117.0,1,4.0
4,5,Travis Kelce*\KelcTr00,KAN,TE,31,15,15,1,2,4,...,11,1.0,0.0,208.0,312.8,316.8,260.3,117.0,1,5.0

In [21]:
# groupby positions *not too useful*
pos_df = data.groupby("FantPos")

pos_players = pos_df["Player"].nunique()
pos_players

FantPos
0      48
QB     83
RB    163
TE    113
WR    219
Name: Player, dtype: int64

In [28]:
# Create dataframes of main positions
qbs = data.loc[data["FantPos"] == "QB",]

rbs = data.loc[data["FantPos"] == "RB",]

wrs = data.loc[data["FantPos"] == "WR",]

tes = data.loc[data["FantPos"] == "TE",]

In [30]:
data.columns

Index(['Rk', 'Player', 'Tm', 'FantPos', 'Age', 'G', 'GS', 'Cmp', 'Att', 'Yds',
       'TD', 'Int', 'Att.1', 'Yds.1', 'Y/A', 'TD.1', 'Tgt', 'Rec', 'Yds.2',
       'Y/R', 'TD.2', 'Fmb', 'FL', 'TD.3', '2PM', '2PP', 'FantPt', 'PPR',
       'DKPt', 'FDPt', 'VBD', 'PosRank', 'OvRank'],
      dtype='object')